@media screen and (max-width: 420px){
    .container {
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: 4rem;
    }
    img {
        width: 55%;
    }
    footer {
        font-size: 25px;
    }
}